<div class="banner" style="background-image: url('https://img.freepik.com/free-vector/cinema-film-festival-movie-poster-background_1017-33461.jpg')">
  <div class="container">
  <h1>Add a new <strong>movie</strong> !</h1>
  </div>
</div>

<div class="new-lists">
  <div class="new-list">
    <h1>Create a new <strong>movie</strong> !</h1>
    <%= simple_form_for [ @movie ] do |f| %>
      <%= f.input :title %>
      <%= f.input :overview %>
      <%= f.input :rating %>
      <%= f.input :poster_url %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
